body {
    background-image: url('child-1864718_640.jpg');
    background-size: cover;
    background-position: center;
    font-family: Arial, sans-serif;
    text-align: center;
    color: white;
}
h1 {
    text-decoration: underline;
}
#numberInput {
    margin-top: 20px;
    padding: 10px;
    font-size: 16px;
}
#generateButton {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: palevioletred;
    color: white;
    text-transform: uppercase;
    transition: background-color 0.3s ease, color 0.3s ease;
}

#generateButton:hover {
    background-color: pink;
    color: palevioletred;
}

.characterButton {
    margin: 5px;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    border: 2px solid #ffffff;
    border-radius: 5px;
    background-color: transparent;
    color: #ffffff;
    transition: background-color 0.3s ease;

}
.characterButton:hover {
    background-color: rgba(255, 255, 255, 0.2);
}
.character-image {
    width: 150px;
    height: auto;
    position: relative;
    margin-top: -150px;
    /* margin-bottom: 200px; */
    left: -20%;
    transform: translateY(10px);
    top: 250px;
}

.character-image.fade-in {
    opacity: 1;
}
#charInput {
    margin-top: 20px;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.7); /* Semi-transparent white background */
    color: #333; /* Dark text color */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); /* Soft shadow */
}

#charInput:focus {
    outline: none; /* Remove default focus outline */
    background-color: rgba(255, 255, 255, 0.9); /* Lighter background color on focus */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); /* Slightly stronger shadow on focus */
}
